// Variables

$primary-color:black;
$secondary-color: rgb(233, 109, 130);
$dark-secondary: #ff52b8;
$nav-grad: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

@mixin gradient-bg {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 7%, rgba(175,89,156,1) 19%, rgba(0,0,0,1) 63%);
}
// Template code
html, body
{
    margin: 0;
    padding: 0;
    background-color: $primary-color;
}
html
{
    height: 100%;
    width: 100%;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
    text-rendering: geometricPrecision;
    max-width: 100%;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}
a:hover
{
    color: $secondary-color;
}

ul
{
    list-style-type: none;
}

.logo
{
    display: block;
    width: 24px;
    display: block;
    margin: auto;
    margin-left: 1rem;
}

.row-flex
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space-between
{
    justify-content: space-between;
}

.responsive-grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 100%);
    gap: 0.1rem 0.1rem;
}
.col-flex
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smallText
{
    font-size: 1rem;
    font-weight: 400;
}
.mediumText
{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.6rem !important;
    letter-spacing: -0.1rem;
}
.bigText
{
    font-size: clamp(4.5rem, 8vw, 6rem) !important;
    font-weight: 700;
    letter-spacing: -0.13rem;
    line-height: 100%;
}

.medium-btn
{
    // padding: 0.625rem 1.3125rem;
    line-height: 1.6;
    border-radius: 1.5rem;
    text-decoration: none;
    text-align:center;
    padding: 0.625rem 1rem;
}

.medium-btn:hover
{
    background-color: white;
    color: white;
}

#primary-btn
{
    background-color: #ff52b8;
    color: black;
}

#primary-btn:hover
{
    background-color: white;
    color: black;
}

#secondary-btn
{
    background-color: $primary-color;
    border: 1px solid white;
}

#secondary-btn:hover
{
    background-color: white;
    color: black;
}

.primary-box
{
    background-color: #ff52b8;
    padding: 1rem;
    text-align: center;
}
// Website Code

#lander
{
    width: 100%;
    background: black;
}
#nav-bar
{
    white-space: nowrap;
    position: relative;
    background-color: $primary-color;
    color: white;
    font-weight: 400;
    padding: 0.5rem 0rem;
    justify-content: space-between;
    flex-wrap: nowrap;
    z-index: 2;
    box-shadow: 0px 1rem 8rem 7rem $primary-color;
}

#nav-bar a, #nav-bar ul
{
    padding: 20px;
    text-decoration: none;
}

#sub-menu
{
    width: 100%;
    margin-left: 5rem;
    margin-right: 2rem;
    justify-content: space-evenly;
}

#container
{
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 2rem; //ALERT
    margin-top: -3rem;
    #welcome
    {
        max-width: 100%;
        position: relative;
        text-align: left;
        z-index: 5;
        // margin: auto;
        // padding: 1.25rem;
        flex: 1 1 50%;
        padding: 6rem;
    }

    #donut
    {
        // @include gradient-bg();
        flex: 1 1 50%;
        padding: 4rem;
    }

    #card
    {
        padding: 1rem;
        text-align: center;
    }
}

#lander-links
{
    margin-top: 1rem;
    letter-spacing: -0.05rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #primary-btn
    {
        flex: 1 1 40%;
        margin-right: 1rem;
        transition: all .2s linear;
    }
    #secondary-btn
    {
        flex: 1 1 40%;
        transition: all .2s linear;
    }

    #primary-btn:hover, #secondary-btn:hover
    {
        transform: translateY(-0.5rem);
        box-shadow: 0px 0.5rem 1rem rgba($color: white, $alpha: 0.4);
    }
}

#donut img
{
    max-height: 100%;
    display: block;
    margin: auto;
    width: 100%;
    // margin-top: 2rem; Check once! This might raise an error

    animation: spin 60s infinite linear;
}

#divider
{
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgba($color: grey, $alpha: 0.4);
    margin-top: 1rem;
    
}

@keyframes spin {
    100%
    {
        transform: rotate(360deg);
    }
}

#stat-grid
{
    width: 100%;
}

#number
{
    font-size: 2.6rem;
}

#stat
{
    text-align: left;
    word-wrap: break-word;
    width: 40%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #container
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        padding: 0;
        margin: initial;
    }

    #container #donut
    {
        // @include gradient-bg();
        width: 100%;
        flex: 1 1 50%;
        margin: auto;
        margin-top: -2rem;
    }
    #container #welcome
    {
        // top: 3rem;
        line-height: 120%;
        text-align: center;
        margin-top: -2rem;
        padding: 0px;
        letter-spacing: -0.05em;
    }

    #sub-menu, #buttonHolder
    {
        display: none;
    }

    #lander-links
    {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        #primary-btn
        {
            margin: 0;
            margin-bottom: 1.1rem;
        }

        *
        {
            padding: 0.8rem 3rem;
        }
    }

    #divider
    {
        width: 80%;
        margin-left: 2rem;
    }

    .responsive-grid
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);

    }

    #stat-grid .row-flex
    {
        flex-direction: column;
        align-items: flex-start;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}